{
  "presets": [
    ["env", {
      "modules": false,
      "debug": true
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}